@import "../../styles/_variables.scss";

.details {
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  font-family: $font-stack;
  font-weight: 300;

  .error {
    margin: 1em 0;
  }

  h3 {
    font-family: $font-stack-alt;
    font-weight: 600;
    margin-bottom: 10px;
  }

  h3.dependencies-heading {
    font-family: $font-stack-alt;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid $smoke;
  }

  .version {
    font-weight: 400;
    color: $accent;
    font-size: 0.8em;
    margin-left: 5px;
  }

  .description {
    margin-top: 20px;
  }

  ul.keywords {
    margin: 20px 0 0 0;
    padding: 0;

    li {
      list-style-type: none;
      display: inline-block;
      background: $smoke;
      padding: 3px 7px;
      margin-right: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 0.8em;
      border-radius: 3px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}